<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="btn-group-vertical" style="width: 100%;">
        <a routerLink="/heroes" routerLinkActive="active" class="btn btn-dark" role="button">Heroes</a>
        <a routerLink="/players" routerLinkActive="active" class="btn btn-dark" role="button">Players</a>
        <a routerLink="/matches" routerLinkActive="active" class="btn btn-dark" role="button">Matches</a>
      </div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
